[Unit]
Description=Run Plex pCloud to Internxt mirror periodically

[Timer]
OnBootSec=15min
OnUnitActiveSec=12h
RandomizedDelaySec=10min
Persistent=true
Unit=plex-internxt-mirror.service

[Install]
WantedBy=timers.target
